@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-violet: hsl(263, 55%, 52%);
	--clr-light-violet: #a775f1;
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-gray: hsl(0, 0%, 81%);
	--clr-light-blue: hsl(210, 46%, 95%);
	--clr-pink: #fff1ff;
	--clr-dark-blue: #49556b;
	--clr-darker-blue: #18202d;
	--fw-normal: 500;
	--fw-bold: 600;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
	font-family: "Barlow Semi Condensed", sans-serif;
	background-color: var(--clr-light-blue);
	display: grid;
	place-content: center;
}

.container {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.card {
	padding: 3rem;
	border-radius: 1rem;
}

img {
	border-radius: 50%;
	border: 1px solid;
	width: 3.5rem;
	height: 3.5rem;
}

.card .card-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	padding-bottom: 2rem;
}

.card h2,
.card h3 {
	font-weight: 400;
}

.card h2 {
	font-size: 1.4rem;
}

.card h3 {
	font-weight: var(--fw-normal);
	opacity: 0.5;
	font-size: 1.2rem;
}

.card h1 {
	font-size: 2.1rem;
	font-weight: var(--fw-normal);
	padding-bottom: 2rem;
}

.card p {
	opacity: 0.5;
	letter-spacing: 0.05rem;
	line-height: 1.3;
}

.card:nth-child(1) {
	background: url(../images/bg-pattern-quotation.svg);
	background-color: var(--clr-violet);
	background-position: top 0 right 2rem;
	background-repeat: no-repeat;
	color: var(--clr-pink);
}

.card:nth-child(1) .card-header img {
	border-color: var(--clr-pink);
}

.card:nth-child(2) {
	background-color: var(--clr-dark-blue);
	color: white;
}

.card:nth-child(2) .card-header img {
	border: none;
}

.card:nth-child(3) {
	background-color: white;
	color: var(--clr-dark-blue);
}

.card:nth-child(3) h2 {
	font-weight: 500;
}

.card:nth-child(3) h1 {
	font-weight: 600;
}

.card:nth-child(3) p {
	font-weight: 400;
	opacity: 0.9;
}

.card:nth-child(4) {
	background-color: var(--clr-darker-blue);
	color: white;
}

.card:nth-child(4) h3 {
	font-weight: 400;
}

.card:nth-child(4) img {
	border: 1px solid var(--clr-violet);
}

.card:nth-child(5) {
	color: var(--clr-dark-blue);
	background-color: white;
}

.card:nth-child(5) h2 {
	font-weight: 500;
}

.card:nth-child(5) h1 {
	font-weight: 600;
}

.card:nth-child(5) img {
	border: none;
}

.card:nth-child(5) p {
	opacity: 0.9;
}

@media (min-width: 640px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: 15rem;
		max-width: 1440px;
	}

	.card:nth-child(1) {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.card:nth-child(2) {
		grid-column: 3;
		grid-row: 1;
	}

	.card:nth-child(3) {
		grid-column: 1;
		grid-row: 2;
	}

	.card:nth-child(4) {
		grid-column: 2 / span 2;
		grid-row: 2;
	}

	.card:nth-child(5) {
		grid-column: 4;
		grid-row: 1 / span 2;
	}
}
